<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waderlust</title>
</head>
<body>
    <h3> edit your listings</h3>
    <div class="row">
        <div class="col-8 offset-2">
   
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"><br><br></div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" value="<%= listing.description %>" type="text" class="form-control"><br><br></div>
            <div class="mb-3">
                <label for="image" class="form-label">image</label>
        <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control"><br><br></div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"><br><br></div>
        <div class="mb-3 col-md-4">
            <label for="country" class="form-label">country</label>
        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"><br><br></div></div>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"><br><br></div>
        <button>Add</button>


    </form>
</body>

<button class="btn btn-dark edit-btn">edit</button>

</html></div></div>