<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
      <div class="col-6 offset-3">
      <h2>Edit your listing</h2>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                  <label for="title" class="form-label">Enter Title</label>
                  <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>" required>
                  <div class="valid-feedback">Title looks good</div>
            </div>
            <div class="mb-3">
                  <label for="description" class="form-label">Enter Description</label>
                  <textarea class="form-control" name="listing[description]" required rows="3" cols="30"><%= listing.description %></textarea>
                  <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <div class="mb-3">
                  Original listing image<br>
                  <img src="<%= originalImageUrl %>" class="listing-image">
            </div>
            <div class="mb-3">
                  <label for="image" class="form-label">Upload New Image</label>
                  <input type="file" class="form-control" name="listing[image]">
            </div>
            <div class="row">
                  <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">Enter Price</label>
                        <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                  </div>
                  <div class="mb-3 col-md-6">
                        <label for="country" class="form-label">Enter Country</label>
                        <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>" required>
                        <div class="invalid-feedback">Please enter a valid country</div>
                  </div>
            </div>
            <div class="mb-3">
                  <label for="location" class="form-label">Enter Location</label>
                  <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
                  <div class="invalid-feedback">Please enter a valid location</div>
            </div>
            <div class="mb-3">
                  <label for="category" class="form-label">Enter Category og you location:</label>
                  <select class="form-control " name="listing[category]" required>
                        <option value="Others" selected disabled>Select a category</option>
                        <option class="dropdown-item" value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Beach">Beach</option>
                        <option value="Boats">Boats</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Others">Others</option>
                  </select>
            </div>
            <button class="btn btn-dark edit-btn mt-1">Edit</button>
      </form>
</div>
</div>

<script>
      let editbtn=document.querySelector('.edit-btn');
      editbtn.addEventListener('click',()=>{
            alert('Edited successfully')
      })
</script>